@use 'variables';

.display_column {
    display: flex;
    flex-direction: column;
}

body {
    @extend .display_column;
    height: 100vh;
    justify-content: flex-start;
} 

.body_index {
    background-image: url(../media/backg_home.png);
    background-size: 140%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    justify-content: center;
    a {
        width: 50%;
        img {
            width: 100%;
        }
    }
}

.font {
    font-family: variables.$base_font;
    font-size: variables.$base_size;
    font-weight: bold;     
}

.buttons {
    width: 80%;
        margin: 10px;
        background-color: variables.$base_color;
        border-radius: 20px;
        border-color: variables.$base_color;
        padding: 15px;
        a {
            color: white;
            text-decoration: none;
            @extend .font;
        }
}

.icon {
    font-size: 50px;
    color: variables.$base_color;
}

.content {
    @extend .display_column;
    @extend .font;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    margin-bottom: 40px;
    button {
        @extend .buttons
    }
    h1 {
        text-align: center;
        margin-top: 0%;
    }
    p{
        text-align: justify;
        text-decoration: solid;   
    }
}

.description {
    margin: 10px 0px;
    div {
        @extend .display_column;
        align-items: center;
        margin: 10px 0px;

    }
}

